$class                          : ".card"   !default;
$var-prefix                     : "card"    !default;
$enable-clip-radius             : true      !default;
$enable-hr-formatting           : true      !default;
$enable-paragraph-formatting    : true      !default;
$enable-link-formatting         : true      !default;



/// a flexible and extensible content container with optional header & footer.
@mixin card {
    // position & size
    position: relative;
    min-width: 0; // See https://github.com/twbs/bootstrap/pull/22740#issuecomment-305868106
    width: var(--#{$var-prefix}-width);
    height: var(--#{$var-prefix}-height);

    // appearance:
    border: var(--#{$var-prefix}-border);
    border-radius: var(--#{$var-prefix}-border-radius);
    @if ($enable-clip-radius == true) {
        overflow: hidden;
    }
    
    // text formatting:
    color: var(--#{$var-prefix}-color);
    background: var(--#{$var-prefix}-background);
    word-wrap: break-word;

    // flex configs:
    display: flex;
    flex-direction: column;



    @if ($enable-hr-formatting) {
        > hr {
            margin-left: 0;
            margin-right: 0;
        }
    }



    // general card's sub items:
    > { header, .header, h1, h2, h3, h4, h5, h6, .body, footer, .footer, aside, .aside {
        /* begin: paddings */
        padding-left: var(--#{$var-prefix}-padding-x);
        padding-right: var(--#{$var-prefix}-padding-x);

        padding-top: var(--#{$var-prefix}-padding-y);
        padding-bottom: var(--#{$var-prefix}-padding-y);
        /* end: paddings */


        @if ($enable-paragraph-formatting == true) {
            p:last-child {
                margin-bottom: 0; // kill last paragraph's spacing
            }
        }


        @if ($enable-link-formatting == true) {
            .link {
                + .link {
                    margin-left: var(--#{$var-prefix}-spacer-x);
                }
            }
        }
    }}



    // card's header
    > { header, .header {
        color: var(--#{$var-prefix}-header-color);
        background: var(--#{$var-prefix}-header-background);

        border-bottom: var(--#{$var-prefix}-border);
    }}

    // card's footer
    > { footer, .footer {
        color: var(--#{$var-prefix}-footer-color);
        background: var(--#{$var-prefix}-footer-background);

        border-top: var(--#{$var-prefix}-border);
    }}


    // we use .body instead of body because html5 doen't allow &lt;body&gt; inside &lt;article&gt;.
    > .body {
        // Enable `flex-grow: 1` for decks and groups so that card blocks take up
        // as much space as possible, ensuring footers are aligned to the bottom.
        flex: 1 1 auto;

        // Workaround for the image size bug in IE
        // See: https://github.com/twbs/bootstrap/pull/28855
        min-height: 1px;



        color: var(--#{$var-prefix}-body-color);
        background: var(--#{$var-prefix}-body-background);
    }
}
@if ($class) {
    #{$class} { @include card; }
}