@use "node_modules/@heymarco/colors/index" as *;
@use "node_modules/@heymarco/container/index" as *;
@use "node_modules/@heymarco/media-breakpoints/index" as *;



/* begin: default css variables */
@mixin css-vars {
    $width: unset !default;
    $height: unset !default;
    $padding-x: var(--container-x, var(--card-spacer-x)) !default;
    $padding-y: calc(var(--container-y, calc(var(--card-spacer-y) * 2)) / 2) !default;
    $padding-y-phone: var(--container-y, var(--card-spacer-y)) !default;
    $spacer-x: .75rem !default;
    $spacer-y: 1.25rem !default;


    $color: unset !default;
    $background: #ffffff border-box !default;

    $header-color: unset !default;
    $header-background: color-fade($black, 0.25, 0.05) padding-box !default;

    $footer-color: unset !default;
    $footer-background: color-fade($black, 0.05, 0.25) padding-box !default;
    
    $body-color: unset !default;
    $body-background: unset !default;


    $border-width: var(--border-width, 1px) !default;
    $border-style: solid;
    $border-color: rgba(0, 0, 0, 0.125);
    $border-radius: var(--border-radius, 4px) !default;


    --card-width: #{$width};
    --card-height: #{$height};
    --card-padding-x: #{$padding-x};
    --card-padding-y: #{$padding-y};
    $enable-responsive: true !default;
    @if ($enable-responsive) {
        --card-padding-phone: #{$padding-y-phone};
        @include media-phone-down {
            --card-padding-y: var(--card-padding-phone);
        }
    }
    --card-spacer-x: #{$spacer-x};
    --card-spacer-y: #{$spacer-y};


    --card-color: #{$color};
    --card-background: #{$background};

    --card-header-color: #{$header-color};
    --card-header-background: #{$header-background};

    --card-footer-color: #{$footer-color};
    --card-footer-background: #{$footer-background};

    --card-body-color: #{$body-color};
    --card-body-background: #{$body-background};


    --card-border-width: #{$border-width};
    --card-border-style: #{$border-style};
    --card-border-color: #{$border-color};
    --card-border: var(--card-border-width) var(--card-border-style) var(--card-border-color);
    --card-border-radius: #{$border-radius};
}
:root { @include css-vars; }
/* end: default css variables */


/// a flexible and extensible content container with optional header & footer.
$class-name: ".card" !default;
#{$class-name} {
    // position & size
    position: relative;
    min-width: var(--card-width, 0); // See https://github.com/twbs/bootstrap/pull/22740#issuecomment-305868106
    min-height: var(--card-height);

    // appearance:
    border: var(--card-border);
    border-radius: var(--card-border-radius);
    $enable-clip-radius: true;
    @if ($enable-clip-radius == true) {
        overflow: hidden;
    }
    
    // text formatting:
    color: var(--card-color);
    background: var(--card-background);
    word-wrap: break-word;

    // flex configs:
    display: flex;
    flex-direction: column;



    $enable-hr-formatting: true !default;
    @if ($enable-hr-formatting) {
        > hr {
            margin-left: 0;
            margin-right: 0;
        }
    }



    // general card's sub items:
    > { header, .header, h1, h2, h3, h4, h5, h6, .body, footer, .footer, aside, .aside {
        /* begin: paddings */
        padding-left: var(--card-padding-x);
        padding-right: var(--card-padding-x);

        padding-top: var(--card-padding-y);
        padding-bottom: var(--card-padding-y);
        /* end: paddings */


        $enable-paragraph-formatting: true !default;
        @if ($enable-paragraph-formatting == true) {
            p:last-child {
                margin-bottom: 0; // kill last paragraph's spacing
            }
        }


        $enable-link-formatting: true !default;
        @if ($enable-link-formatting == true) {
            .link {
                + .link {
                    margin-left: var(--card-spacer-x);
                }
            }
        }
    }}



    // card's header
    > { header, .header {
        color: var(--card-header-color);
        background: var(--card-header-background);

        border-bottom: var(--card-border);
    }}

    // card's footer
    > { footer, .footer {
        color: var(--card-footer-color);
        background: var(--card-footer-background);

        border-top: var(--card-border);
    }}


    // we use .body instead of body because html5 doen't allow &lt;body&gt; inside &lt;article&gt;.
    > .body {
        // Enable `flex-grow: 1` for decks and groups so that card blocks take up
        // as much space as possible, ensuring footers are aligned to the bottom.
        flex: 1 1 auto;

        // Workaround for the image size bug in IE
        // See: https://github.com/twbs/bootstrap/pull/28855
        min-height: 1px;



        color: var(--card-body-color);
        background: var(--card-body-background);
    }
}